/* ====== Slider Part Start ====  */
.top-text {
	padding: 251px;
}

.sb-button {
	padding: 6px 40px;
}

.content{
    background-color: #f8f9fa;
}

.content3{
    background: #f6f6f7;
}
/* ====== Slider Part End ====  */